[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
redis = "*"
celery = "*"
flask = "*"
python-dotenv = "*"

[packages]
flask = "*"
redis = "*"
celery = "*"
python-dotenv = "*"

[requires]
python_version = "3.7"
